#divespecial {
	width: 200px;
	background-color: lightGrey;
	border: 1px solid red;	
	padding: 20px;
}
#pespecial {
	width: 300px;
	background-color: green;
	border: 4px dashed rgb(226, 14, 14);	
	margin-left: 30px;
}
#otroespecial {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	padding-left: 50px;
	background-color: rgb(235, 102, 102);
	border: 6px dotted rgb(6, 22, 51);
}
span{
	margin-right: 55px;
	background-color: gray;
	color: white;
	border: 1px solid black;
}